{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/formulaireCrud.css') }}">
{% endblock %}

<div class="container-form">

    {{ form_start(form) }}
    
    
	{{ form_end(form) }}
</div>
