{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/pagesDeReponsesAutomatiques.css') }}">
{% endblock %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<div class="container0">
    <p>
        Un lien de réititialisation vient de vous être envoyé à votre adresse email. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).
    </p>
    <p>
        Si vous ne recevez pas cet email, vérifiez s'il n'est pas dans les spams
        
    </p>
    <p>
        <a href="{{ path('app_forgot_password_request') }}">Réessayer</a>
    </p>

</div>    
{% endblock %}
