{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pagesDeReponsesAutomatiques.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/boutonsEtInputs.css') }}">
{% endblock %}
{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<div class="block0">
		<p>Un email contenant un lien de réinitialisation du mot de passe vient de vous être envoyé. Ce lien expire dans
			{{ tokenLifetime|date('g') }}
			heure(s).</p>
		<p>Si vous ne recevez pas cet email, regardez dans votre dossier spams, ou réessayez.</p>
		<p>
			<a class="bouton" href="{{ path('app_forgot_password_request') }}">Réessayer</a>
		</p>
	</div>
{% endblock %}
