<h1>Réinitialisation du mot de passe</h1>

<p>Vous avez demandé sur le site web tattookozak.fr à réinitialiser votre mot de passe.</p>
<p>Veuillez cliquer sur le lien suivant qui vous dirigera vers la page de réinitialisation du mot de passe.</p>
<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Réinitialiser mon mot de passe</a>

<p>Ce lien expire dans
	{{ tokenLifetime|date('g') }}
	heure(s).
</p>

<p>Cordialement, le site web tattookozak</p>
