<h1>Réinitialisation du mot de passe</h1>
<p>Vous avez demandé une réinitialisation de votre mot de passe sur notre site web.</p>
<p>Veuillez s'il vous plait vous rendre sur ce lien pour valider cette réinitialisation:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Réinitialiser mon mot de passe</a>

<p>Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>

<p>Très cordialement</p>
