<h2>Email de connexion pour le site Tattokozak</h2>
<p>
	Vous avez demandé à modifier votre email de connexion. Veuillez cliquer sur le lien ci-dessous pour valider votre adresse email:
</p>
<p>
   <a href="{{ absolute_url(path('activer_email_candidat', {'token': token})) }}">Valider mon adresse email</a>
</p>
