{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/messagesEtAlertes.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/changelogin.css') }}">
{% endblock %}

{% block title %}
Modifier l'email connexion
{% endblock %}

{% block body %}
    <h2>Modifier l'email de connexion {{ app.user.email }}</h2>
    

	{% for message in app.flashes('error') %}
		<div class="conteneurMessageFlash">
			<div class="messageFlash messageFlash-alert">
				{{ message }}
			</div>
		</div>
	{% endfor %}
	<div class="container0">
        <p>Veuillez compléter les champs.</p>
        <p>Un lien de validation va vous être envoyé.</p>
		<div class="container-form">
			<form class="form1" method="post">

                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="password" class="" required>
                <label for="email">Nouvel email</label>
				<input type="email" name="newEmail" id="newEmail" class="" required>
				<label for="email">Confirmer le nouvel email</label>
				<input type="email" name="newEmailconfirm" id="newEmailconfirm" class="" required>
				
				<button type="submit">
					ENVOYER
				</button>

			</form>
		</div>
	</div>
{% endblock %}
