{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
{% endblock %}


{% block title %}
	admin.html.twig
{% endblock %}

{% block body %}


	<h1>Administrer</h1>

	<div class="container1">
		<ul class="liste">
			<li>
				<div class="titre">Réalisations</div>
				<a class="boutonGo" href="{{ path('admin.realisation') }}" title="Réalisations">Go</a>
			</li>
			<li>
				<div class="titre">Slogan</div>
				<a class="boutonGo" href="{{ path('home') }}" title="Slogan">Go</a>
			</li>
			<li>
				<div class="titre">Infos de contact</div>
				<a class="boutonGo" href="{{ path('home') }}" title="Infos de contact">Go</a>
			</li>
		</li>
	</li>
</ul></div>{% endblock %}
