/* ================== TABLE ===================== */

.conteneur_table {
   margin: auto;
   max-width: 700px;
}

.table_1 {
   width: 99%;
}

.table_1 tbody tr:nth-child(2n + 1) {
   background-color: rgba(144, 144, 144, 0.075);
}

.table_1, .table_1 th, .table_1 td {
   border: 1px solid #ffffff;
   border-collapse: collapse;
   padding: 14px;
}

.table_1 td a i {
   margin: 0 10px 0 10px;
}

/* ========= FORMULAIRE COMPORTANT UN CHAMP INPUT CACHÉ DE SUPPRESSION D'UNE RÉALISATION ======== */

.deleteForm {
   display: inline-block;
}

/* ========== POUR STYLER LES ICONES DE FONTAWESOME ET LES BOUTONS =========== */

.bleu {
   color: #469fff;
}

.bleu:hover {
   color: #73b7ff;
}

.boutonSupprimerRealisation {
   color: #ec1127;
   cursor: pointer;
   background-color: transparent;
   border: transparent;
}

.boutonSupprimerRealisation:hover {
   color: #f05766;
}

/* ============================ */

@media screen and (max-width: 870px) {
   .table_1 td a i {
      margin: 10px;
   }
}