/* ====== STYLE SPÉCIFIQUE À LA CARTE D'APERÇU D'UNE RÉALISATION (EN HOMEPAGE ET EN PAGE RÉALISATIONS) ======= */

/* ====== LE STYLE COMMUN HÉRITÉ PAR TOUTES LES PAGES SE TROUVE DANS GLOBAL.CSS  ======= */



.container-apercuRealisations {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 60px;
}

.apercuRealisation {
   position: relative;
   border: solid white 10px;
   border-bottom: white solid 20px;
   margin: 20px;
   color: black;
   width: 250px;
   border-radius: 6px;
}

.apercuRealisation-image a:hover img {
   transform: scale(1.12);
}



/* Selecteur en test */
.apercuRealisation .bouton1:hover h3 {
   background-color: greenyellow;
}


.apercuRealisation-image {
   position: relative;
   width: inherit;
   height: 170px;
   overflow: hidden;
}

.apercuRealisation-image img {
   position: relative;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: 0.4s ease;
}

.apercuRealisation-titre {
   bottom: 100px;
   position: relative;
   height: 40px;
   color: white;
   text-shadow: 2px 2px 1px #000;
   /* border: 1px blue solid; */
}

.apercuRealisation-dateCreation {
   color: gray;
   font-size: .8em;
   height: 30px;
}

.infos .date {
   position: relative;
   left: -2px;
}

.infos .nbreImages {
   position: relative;
   left: 102px;
}

.apercuRealisation-hook {
   color: gray;
   height: 30px;
   /* border: 1px blue solid; */
}

.apercuRealisation-description {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: gray;
   height: 30px;
   /* border: 1px blue solid; */
}

.apercuRealisation-hook,
.apercuRealisation-description,
.apercuRealisation-dateCreation {
   background-color: white;
}

.apercuRealisation-description p,
.apercuRealisation-hook h4,
.apercuRealisation-titre h3 {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.accroche {
   text-transform: unset;
}

.apercuRealisation h3 {
   font-size: 1.1em;
   margin: 0;
   padding: 9px;
}

.apercuRealisation h4 {
   margin: 0;
   text-align: left;
   padding: 7px 8px 7px 8px;
}

.apercuRealisation p {
   margin: 0;
   padding: 7px 8px 7px 8px;
   font-size: 1em;
   /* border: 1px green solid; */
   width: auto;
   height: auto;
}

