/* ====== STYLE SPÉCIFIQUE À LA CARTE D'UNE RÉALISATION (EN HOMEPAGE ET EN PAGE RÉALISATIONS) ======= */

/* ====== LE STYLE COMMUN HÉRITÉ PAR TOUTES LES PAGES SE TROUVE DANS GLOBAL.CSS  ======= */

.container-realisation {
   display: flex;
   justify-content: center;
}

.realisation {
   background-color: rgb(255, 255, 255);
   color: black;
   max-width: 700px;
   border-radius: 6px;
   padding: 0px;
   display: flex;
   flex-direction: column;
}

.realisation-image {
   max-height: 400px;
}

.realisation-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 6px 6px 0px 0px;
}

.blocTextes {
   padding: 16px;
}

.realisation-details {
   color: rgb(92, 92, 92);
}

.gris {
   color: rgb(139, 139, 139);
}