.container-form {
   /* border: 1px yellow solid; */
   display: flex;
   justify-content: center;
   margin: 10vh 8px 0 8px;
}

.form1 {
   border: solid 1px blue;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 10vh 8px 0 8px;
   flex-direction: column;
   align-items: center;
}

.ligne {
   border: 1px red solid;
   display: flex;
   margin: 8px;
   justify-content: center;
   flex-wrap: wrap;
   width: 98%;
   max-width: 900px;
}

.blocChamp {
   display: flex;
   justify-content: center;
   border: 1px rgb(9, 255, 0) solid;
   margin: 8px;
   width: 100%;
   max-width: 350px;
}

.blocChamp2 {
   display: flex;
   justify-content: center;
   border: 1px rgb(247, 0, 255) solid;
   margin: 8px;
   width: 100%;
   max-width: 600px;
}

.champ {
   width: 300px;
}

.champ2 {
   width: 512px;
}

.form1 input, .form1 textarea {
   display: flex;
   font-family: 'Kodchasan', sans-serif;
   margin: 0px;
   height: 35px;
   border-radius: 6px;
   padding: 0;
   border: none;
   font-size: 1em;
   color: rgb(78, 78, 78);
}

.form1 textarea {
   height: 350px;
}

.form1 button {
   font-family: 'Kodchasan', sans-serif;
   text-align: center;
   border: unset;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 120px;
   height: 40px;
   border-radius: 6px;
   background-color: #2c70b8;
   font-weight: bold;
   color: #e0e0e0;
   font-size: 1.1em;
   cursor: pointer;
   margin: 10px;
   padding: 0;
}

.form1 button:hover {
   color: rgb(255, 255, 255);
}

/* Surcharge le style de a qui est en blanc */

/* .messageFlash a {
   color: #265735;
} */

@media screen and (max-width: 584px) {
   .champ2 {
      width: 100%;
   }
}