/* ====== STYLE COMMUN HÉRITÉ PAR TOUTES LES PAGES ======= */

/* ====== CHAQUE PAGE A SON STYLE DÉDIÉ DANS UN CSS SÉPARÉ  ======= */

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap');
/* =========== SURCHARGE CERTAINS STYLES UTILISÉS PAR BOOTSTRAP POUR ÉVITER 2-3 BUGS D'AFFICHAGE =========== */

*, ::after, ::before {
   box-sizing: initial;
}

/* ================================== */

html {
   margin: 0;
   padding: 0;
   font-family: 'Kodchasan', sans-serif;
}

body {
   padding: 0 0px 0 0px;
   margin: 0;
   font-weight: 400;
   color: rgb(255, 255, 255);
   /* background-image: url("/assets/images/background.jpg"); */
   /* background-repeat: no-repeat; */
   /* background-attachment: fixed; */
   /* background-size: cover; */
}

.background {
   position: fixed;
   
   z-index: -10;
}

.background img {
   object-fit: cover;
   width: 100vw;
   height: 100vh;
   object-position: center;
}

h1 {
   font-size: 1.8em;
   margin-bottom: 30px;
   margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
   text-transform: uppercase;
   text-align: center;
   font-weight: 600;
}

h4 {
   font-size: initial;
}

h6 {
   font-size: .7em;
}

h5, h6 {
   font-weight: 400;
}

/* ====== CONTENEUR GÉNÉRAL (ENTRE LA NAVBAR ET LE FOOTER) ======= */

.contenu {
   margin: 0;
   padding: 0;
   min-height: calc(100vh - 210px);
   /* Ajuster les px si le footer flotte trop haut, et pour éviter l'apparition du scrol vertical */
}

/* ====== LIENS ET ICONES======= */

a {
   color: #e0e0e0;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
   color: #ffffff;
}

a:hover i {
   /* color: #FF4900; */
}

i {
   border-radius: 3px;
   padding: 3px;
   /* color: #a62f00; */
   /* color: #FF4900; */
}

@media screen and (max-width: 870px) {
   /* div servant uniquement à assombrir l'affichage lors de l'ouverture du menu burger */
   #body2 {
      display: block;
      visibility: hidden;
      z-index: 49;
      position: fixed;
      width: 100vw;
      height: 100vh;
      -webkit-transition: background-color .3s ease;
      -moz-transition: background-color .3s ease;
      -o-transition: background-color .3s ease;
   }
}