.blocPrincipal {
   display: flex;
   justify-content: center;
}


.blocSecondaire {
   width: 800px;
   margin: 20px 20px 40px 20px;
   background-color: rgba(44, 44, 44, 0.8);
   border-radius: 8px;
   padding: 20px;
}