/* ====== STYLE SPÉCIFIQUE À LA NAVBAR ======= */

/* ====== VERSION GRANDS ICONES (ADAPTER LA TAILLE DES FONTAMWESOME DANS LE HTML ======= */

/* ====== POUR L'ACTIVER, RENOMMER CETTE PAGE navbar.css ======= */

/* ====== LE STYLE COMMUN HÉRITÉ PAR TOUTES LES PAGES SE TROUVE DANS GLOBAL.CSS  ======= */

.navbar {
   display: flex;
   justify-content: space-between;
   position: relative;
   /* width: 98%; */
   height: 90px;
   overflow: hidden;
   background: inherit;
   z-index: 50;
}

/* ====== NAVBAR TRANSPARENTE, FLOUE, AVEC OPACITÉ ===== */

.navbar::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: inherit;
   box-shadow: inset 0 0 2000px rgba(0, 0, 0, .5);
   z-index: -1;
   filter: blur(10px);
}

/* ====== LOGO ======= */

.logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo a {
   color: #FFFFFF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 2.1em;
}

.imageLogo {
   width: 45px;
   margin: 0 20px 0 25px;
}

.imageLogo img {
   width: 100%;
}

/* ====== MENU ET LIENS ======= */

.menu {
   z-index: 52;
   list-style-type: none;
   display: flex;
   width: auto;
   padding: 0;
   justify-content: space-between;
   align-items: center;
   margin: 10px;
}

.lienMenu {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: start;
   text-decoration: none;
   height: 100%;
}

.menu li {
   margin: 0 2vw 0 2vw;
}



.menu h5 {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: start;
   margin: 0;
   font-size: .8em;
   text-align: left;
}

.lienMenu h5:hover {
   color: white;
}

/* Stylise le lien courant dans le menu */
.active {
   color: white;
   font-weight: 900;
}

/* On masque le burger quand on est en grand écran */

#burger {
   display: none;
}

.menuBurger {
   display: none;
}

/* ====== INFOS USER APPARAISSANT QUAND ON EST CONNECTÉ ======= */
.infosUser {
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
}

.infosUser ul {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin: 0 26px 0 0;
   padding: 4px 0;
   list-style-type: none;
   background-color: rgb(0, 0, 0);
   border-radius: 6px;
}

.infosUser ul li {
   margin: 0 16px;
}

#userName {
   color: #00ccff;
}

.infosUser h5 {
font-size: .8em;
margin:0;
padding: 0;
}

/* .infosUser h5:hover {
   color: white;
} */

.icon-deconnexion::before,
.icon-user::before
{
   position: relative;
   font-family: "Font Awesome 5 Free";
   font-size: 1.4em;
   font-weight: 900;
   margin: 0 6px 0px 0px;
   padding: 0;
   bottom: 2px;
}





/* ====== ICONES ======= */

.icon-accueil::before,
.icon-realisations::before,
.icon-faq::before,
.icon-contact::before,
.icon-inscription::before,
.icon-admin::before
{
   font-family: "Font Awesome 5 Free";
   font-size: 1.7em;
   font-weight: 900;
   margin: 0 0 4px 2px;
   padding: 0;
}

.icon-accueil::before {
   content: "\f015";
}

.icon-realisations::before {
   content: "\f5ac";
}

.icon-faq::before {
   content: "\f129";
}

.icon-contact::before {
   content: "\f674";
}

.icon-admin::before {
   content: "\f0ad";
}

.icon-deconnexion::before {
   content: "\f13e";
}

.icon-user::before {
   content: "\f007";
}

/* ====== PETITS ÉCRANS ======= */

@media screen and (max-width: 870px) {
   /* ===== NAVBAR / MENU BURGER==== */
   .menu {
      /* On masque le style du menu dédié aux grands écrans */
      display: none;
   }
   .logo {
      margin: 0 100px 0 0;
   }

   #burger {
      z-index: 10000;
      display: block;
      position: fixed;
      right: 24px;
      top: 18px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-color: hsla(0, 0%, 0%, 0.3);
      border-radius: 50%;
   }

   #burgerBarre1, #burgerBarre2, #burgerBarre3 {
      height: 3px;
      width: 30px;
      background-color: white;
      position: absolute;
      border-radius: 4px;
      transition-duration: .3s;
      transition-timing-function: ease;
      left: 10px;
   }

   #burgerBarre1 {
      top: 14px;
      transition-property: transform, top;
   }

   #burgerBarre2 {
      top: 23px;
      transition-property: left;
   }

   #burgerBarre3 {
      top: 32px;
      transition-property: transform, top;
   }
 
   .menuBurger {
      top: 0;
      position: fixed;
      left: -150px;
      transition-property: left;
      transition-timing-function: ease;
      transition-duration: .3s;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      list-style-type: none;
      width: 200px;
      height: 100vh;
      background-color: rgb(48, 48, 48);
      padding: 0;
      margin: 0;
   }
   .menuBurger a {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-left: 10px;
   }
   .menuBurger li {
      width: 100%;
   }
   .menuBurger h5 {
      margin-top: 10px;
   }

   .icon-accueil::before,
   .icon-realisations::before,
   .icon-faq::before,
   .icon-contact::before,
   .icon-inscription::before,
   .icon-deconnexion::before {
      padding-right: 10px;
   }
}