{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}


{% block title %}
	edit.html.twig
{% endblock %}

{% block body %}
	<h1>Éditer une réalisation</h1>
	{{ include ('admin/realisations/_form.html.twig', {form: form, button: 'Enregistrer'}) }}

	{% block javascript %}
		<script src="{{ asset('assets/js/images.js') }}"></script>
	{% endblock %}
{% endblock %}
