<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>


		<link rel="stylesheet" href="{{ asset('assets/css/global.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"> {% block stylesheets %}{% endblock %}

	</head>

	<body id="bodyId">

		<div id="body2">
		</div>

		{% include 'components/navbar.html.twig' %}

		<div class="contenu"> {% block body %}{% endblock %}
		</div>

			{% include 'components/footer.html.twig' %}
			{% block javascripts %}{% endblock %}
			<script src="{{ asset('assets/js/navbar.js') }}">
			</script>
	</body>
</html>
