<div
	class="footer">
	{# ====== BLOC DE MENTIONS ====== #}
	<div class="blocMentions">
		<h6 class="h6-blocMentions">Tattoo Kozak</h6>
		<div class="blocMentionsNiv-1">
			<div class="blocMentionsNiv-2">
				<div class="itemMention">
					<a href="{{ path('home') }}">Accueil</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('home') }}">Faq</a>
				</div>
			</div>
			<div class="blocMentionsNiv-2">
				<div class="itemMention">
					<a href="{{ path('home') }}">Réalisations</a>
				</div>
				<div class="itemMention">
					<a href="{{ path('home') }}">Contact</a>
				</div>
			</div>
		</div>
	</div>

	{# ====== BLOC DE MENTIONS ====== #}
	<div class="blocMentions">
		<h6 class="h6-blocMentions">Droits d'usage</h6>
		<div class="blocMentionsNiv-1">
			<div class="blocMentionsNiv-2">
				<div class="itemMention">
					<a target="_blank" title="Woman in black crew neck shirt - unsplash.com" href="https://unsplash.com/photos/PuEeK7stG_w">Woman in black crew neck shirt- unsplash.com
					</a>
				</div>
			</div>
		</div>
	</div>

	{# ====== BLOC DE MENTIONS ====== #}
	<div class="blocMentions">
		<h6 class="h6-blocMentions">Réalisation</h6>
		<div class="blocMentionsNiv-1">
			<div class="blocMentionsNiv-2" tag="pasDePipeOrange">
				<div class="itemMention">Éric SCHEFFER
					<a target="_blank" title="Github" href="https://github.com/Eric-SCHEFFER">
						<i class="fab fa-github"></i>
					</a>
				</div>
			</div>
		</div>

	</div>
